---
import { formatDateNoWeekday } from "../utils/dates";

interface Item {
  id: string;
  slug: string;
  data: {
    title: string;
    summary: string;
    date: Date;
    category: string;
  };
}

interface Props {
  items: Item[];
}

const { items } = Astro.props;
---

<ul class="grid gap-4 md:grid-cols-3">
  {
    items.map((item) => (
      <li class="card flex flex-col justify-between">
        <div>
          <p class="text-sm text-stone-700">{formatDateNoWeekday(item.data.date)} | {item.data.category}</p>
          <h3 class="mt-2 text-2xl">{item.data.title}</h3>
          <p class="mt-2 text-stone-800">{item.data.summary}</p>
        </div>
        <p class="mt-4">
          <a href={`/news/${item.slug}`}>Read more</a>
        </p>
      </li>
    ))
  }
</ul>
